body {
  background-color: #fdf6e3; }

.navbar {
  margin-bottom: 30px; }
  .navbar .unhighlighted-brand {
    float: left;
    display: block;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 15px;
    font-weight: 200;
    color: black;
    text-shadow: 0 1px 0 #777777; }
  .navbar .container {
    margin-left: 40px; }

.data h4 {
  text-align: center;
  font-weight: 400; }

.matched {
  text-align: center; }

dt {
  display: inline-block; }

dd {
  display: inline-block; }

.data-list {
  padding-left: 20px; }

#nmis_list, #lga_list {
 /* height: 600px;*/
  overflow: auto; }
  #nmis_list .facilities, #lga_list .facilities {
    background-color: white; }
