body {
  background-color: #fdf7e3; }

.data h4 {
  text-align: center;
  font-weight: 400; }

.data-list {
  padding-left: 20px; }

.matched {
  text-align: center; }

	dl{
		padding: 10px;
	}
		dt {
		  display: inline-block; }
		dd {
		  display: inline-block; }

#nmis_list{
  height: 600px;
  overflow: auto;
}
	#nmis_list .facilities{
	  background-color: white;
	}

#lga_list .facilities {
  background-color:orange;
}
	.facility_section {
	  padding-left:20px;
	}
